.well {
  background-color: rgb(39, 116, 141);
  padding: 15px;
  display: none;
  margin: 1.5em;
  max-width: 700px;
  color: white;
  border-radius: 1em;
}

.well .popup_close {
  position: absolute;
  top: 0;
  right: 0px;
  border-radius: 2px;
  background: none;
  border: 0;
  font-size: 25px;
  padding: 0 10px;
  color: red;
}

.btn {
  box-sizing: border-box;
  border-width: 1px;
  font-size: 12px;
  font-weight: 600;
  padding: 0.5rem 18px;
  line-height: 1.75;
  cursor: pointer;
  text-transform: uppercase;
  background-color: black;
  border-color: rgb(17, 17, 17);
  color: #FFFFFF;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear; 
  border-radius: 2em;
}

  .btn.btn-border, .btn.btn-link {
    background-color: transparent; 
  }

  .btn:hover, .btn:focus, .btn:active, .btn.active, .btn:active:focus, .btn:active:hover, .btn.active:focus, .btn:not(:disabled):not(.disabled):active:focus, .btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled).active:focus,
  .show > .btn.dropdown-toggle {
    background-color: #403D39;
    color: #FFFFFF;
    border-color: #403D39;
    box-shadow: none; 
  }

  .btn .caret {
    border-top-color: #FFFFFF; 
  }

.media .media-body .media-footer .btn-neutral {
  margin: 15px 3px;
  font-size: 14px; }
  .media .media-body .media-footer .btn-neutral i {
    margin-right: 0 !important; }

::-moz-placeholder {
  color: #9A9A9A; }

:-ms-input-placeholder {
  color: #9A9A9A; }

::-webkit-input-placeholder {
  color: #9A9A9A; }

/*           Font Smoothing      */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, a, .td-name, td, button, input, select, textarea {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto Mono", "Helvetica", Arial, sans-serif;
  font-weight: 300; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  margin: 30px 0 0; }

h1, .h1 {
  font-size: 3.6em; }

h2, .h2 {
  font-size: 2.8em; }

h3, .h3 {
  font-size: 1.825em;
  line-height: 1.4;
  margin: 20px 0 0px; }

h4, .h4 {
  font-size: 1.6em;
  line-height: 1.2em; }

h5, .h5 {
  font-size: 1.35em;
  line-height: 1.4em; }

h6, .h6 {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5em; }

p {
  font-size: 15px;
  line-height: 1.5em;
  margin-bottom: 5px; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
  color: #9A9A9A;
  line-height: 1.5em; }

h1 small, h2 small, h3 small, h1 .small, h2 .small, h3 .small {
  font-size: 60%; }

.title,
.card-title,
.info-title,
.footer-brand,
.footer-big h5,
.footer-big h4,
.media .media-heading {
  font-family: "Roboto Mono", Arial, sans-serif; }
  .title,
  .title a,
  .card-title,
  .card-title a,
  .info-title,
  .info-title a,
  .footer-brand,
  .footer-brand a,
  .footer-big h5,
  .footer-big h5 a,
  .footer-big h4,
  .footer-big h4 a,
  .media .media-heading,
  .media .media-heading a {
    color: #333333;
    text-decoration: none; }

.title-uppercase {
  text-transform: uppercase; }

.description {
  color: #9A9A9A; }

blockquote small {
  font-style: normal; }

.text-muted {
  color: #DDDDDD; }

.text-primary, .text-primary:hover {
  color: #51cbce !important; }

.text-info, .text-info:hover {
  color: #51bcda !important; }

.text-success, .text-success:hover {
  color: #6bd098 !important; }

.text-warning, .text-warning:hover {
  color: #fbc658 !important; }

.text-danger, .text-danger:hover {
  color: #f5593d !important; }

.glyphicon {
  line-height: 1; }

.heart {
  color: #EB5E28;
  animation: heathing 1s ease infinite; }

@keyframes heathing {
  0% {
    transform: scale(0.75); }
  20% {
    transform: scale(1); }
  40% {
    transform: scale(0.75); }
  60% {
    transform: scale(1); }
  80% {
    transform: scale(0.75); }
  100% {
    transform: scale(0.75); } }

.footer .credits,
.footer-nav {
  line-height: 85px; }

.footer .btn {
  margin-bottom: 0; }

.title {
  margin-top: 30px;
  margin-bottom: 25px;
  min-height: 32px; }

.title.text-center {
  margin-bottom: 50px; }

/*     General overwrite     */
body {
  color: #66615b;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Montserrat', "Helvetica", Arial, sans-serif; }

a {
  color: #51bcda; }
  a:hover, a:focus {
    color: #2ba9cd;
    text-decoration: none; }

.heart {
  color: #EB5E28;
  animation: heathing 1s ease infinite; }

@keyframes heathing {
  0% {
    transform: scale(0.75); }
  20% {
    transform: scale(1); }
  40% {
    transform: scale(0.75); }
  60% {
    transform: scale(1); }
  80% {
    transform: scale(0.75); }
  100% {
    transform: scale(0.75); } }

.bd-docs .page-header {
  min-height: 50vh; }

.offline-doc .navbar.navbar-transparent {
  padding-top: 25px;
  border-bottom: none; }
  .offline-doc .navbar.navbar-transparent .navbar-minimize {
    display: none; }
  .offline-doc .navbar.navbar-transparent .navbar-brand,
  .offline-doc .navbar.navbar-transparent .collapse .navbar-nav .nav-link {
    color: #FFFFFF !important; }

.offline-doc .footer {
  position: absolute;
  width: 100%;
  background: transparent;
  bottom: 0;
  z-index: 3; }
  .offline-doc .footer nav > ul a:not(.btn),
  .offline-doc .footer .copyright {
    color: #FFFFFF !important; }

.offline-doc .page-header .page-header-image {
  position: absolute;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  z-index: -1; }

.offline-doc .page-header .container {
  z-index: 3; }

.offline-doc .page-header:after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2; }

.footer {
  background-attachment: fixed;
  position: relative;
  line-height: 20px; }
  .footer .footer-nav ul {
    padding-left: 0;
    margin-bottom: 0; }

.footer nav > ul {
  list-style: none;
  font-weight: normal; }

.footer nav > ul > li {
  display: inline-block;
  padding: 10px 15px;
  margin: 15px 3px;
  line-height: 20px;
  text-align: center; }

.footer nav > ul a:not(.btn) {
  color: #777777;
  display: block;
  margin-bottom: 3px;
  line-height: 1.6;
  opacity: .8;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600; }

.footer nav > ul a:not(.btn):hover,
.footer nav > ul a:not(.btn):focus {
  color: #777777;
  opacity: 1; }

.footer .copyright {
  color: #777777;
  padding: 10px 0px;
  font-size: 14px;
  margin: 15px 3px;
  line-height: 20px;
  text-align: center; }

.footer .heart {
  color: #EB5E28; }

.footer {
  background-color: #FFFFFF;
  line-height: 36px; }
  .footer.footer-black h4 {
    color: #FFFFFF; }
  .footer .links {
    display: inline-block; }
    .footer .links ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-weight: 600; }
      .footer .links ul > li {
        display: inline-block;
        padding-right: 20px; }
      .footer .links ul > li:last-child {
        padding-right: 0px; }
      .footer .links ul a:not(.btn) {
        color: #66615b;
        display: block;
        font-size: 0.9em;
        margin-bottom: 3px; }
        .footer .links ul a:not(.btn):hover, .footer .links ul a:not(.btn):focus {
          color: #403D39; }
      .footer .links ul.uppercase-links {
        text-transform: uppercase; }
      .footer .links ul.stacked-links {
        margin-top: 10px; }
        .footer .links ul.stacked-links > li {
          display: block;
          line-height: 26px; }
        .footer .links ul.stacked-links h4 {
          margin-top: 0px; }
  .footer .social-area {
    padding: 15px 0; }
    .footer .social-area .btn {
      margin-bottom: 3px;
      padding: 8px; }
      .footer .social-area .btn i {
        margin-right: 0 !important;
        color: #fff; }
  .footer hr {
    border-color: #DDDDDD;
    border-width: 1px 0 0;
    margin-top: 5px;
    margin-bottom: 5px; }
  .footer .copyright {
    color: #A49E9E;
    font-size: 0.9em; }
    .footer .copyright ul > li {
      padding-right: 0px; }
  .footer .title {
    color: #403D39; }

.page-header {
  background-color: #B2AFAB;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center; }
  .page-header .filter::after {
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1; }
  .page-header.page-header-small {
    min-height: 65vh !important;
    max-height: 700px; }
  .page-header.page-header-xs {
    min-height: 40vh !important; }
  .page-header.section-dark .content-center,
  .page-header.section-dark .category-absolute {
    z-index: 1; }

.page-header .motto {
  text-align: left;
  z-index: 3;
  color: #fff;
  position: relative; }

.page-header .content-center {
  margin-top: 85px; }

.page-header .title,
.page-header .info-title {
  color: #FFFFFF; }